[Unit]
Description={{ description }}
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User={{ user }}
ExecStart={{ command }}
KillSignal=SIGINT
TimeoutStopSec=10
{%- if exec_stop_post %}
ExecStopPost={{ exec_stop_post }}
{%- endif %}

[Install]
WantedBy=multi-user.target
