[Unit]
Description=Srs User Emulator Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart={{ command }}
User=ubuntu
KillSignal=SIGINT
TimeoutStopSec=10
ExecStopPost=service srsenb restart

[Install]
WantedBy=multi-user.target
