[Unit]
Description=Srs User Emulator Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart={{ command }}
ExecStopPost=pkill srsenb

[Install]
WantedBy=multi-user.target
