[Unit]
Description=Srs User Emulator Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env /service/srsue
ExecStop=/usr/bin/env pkill srsenb

[Install]
WantedBy=multi-user.target
